 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .App {
   text-align: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   height: 100%;
   padding: 0.25px;
 }

 .instructions {
   margin-top: 20px;
 }

 .container {
   display: flex;
   justify-content: center;
   flex-direction: row;
   height: auto;
   width: 100%;
 }

 .simulateRoll {
   margin-block: 20px;
   margin-inline: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100%;
   background-color: #a9a9a9a9;
   border: 5px solid black;
   border-radius: 5px;
   box-shadow: 5px 5px 5px #888888;
 }

 input {
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 5px;
   margin: 5px;
 }

 label {
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 5px;
   margin: 5px;
   font-weight: 500;
 }

 button {
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 5px;
   margin: 5px;
   background-color: blue;
   color: aliceblue;
   font-weight: bold;
 }

 .rollResult {
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   margin-block: 0px;
   align-items: center;
   height: 160px;
   overflow-y: scroll;
 }

 .rollResult::-webkit-scrollbar {
   width: 8px;
 }

 .rollResult::-webkit-scrollbar-track {
   background: lightgray;
 }

 .rollResult::-webkit-scrollbar-thumb {
   background-color: blue;
   border-radius: 10px;
   border: 2px solid lightgray;
 }

 #single {
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   margin-block: 10px;
   align-items: center;
   height: auto;
   width: auto;
   overflow: visible;
 }

 .nth-roll {
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   margin-block: 10px;
   align-items: center;
   height: auto;
   width: auto;
 }

 .dice-box {
   display: flex;
   justify-content: center;
   margin: 5px;
   border: 1px solid black;
   border-radius: 5px;
   width: 50px;
   height: 50px;
   background-color: whitesmoke;
   align-items: center;
   text-shadow: 2px 2px 2px white;
   font: 600 20px/1 'Roboto', sans-serif;
 }

 .probabilities-list {
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   margin-block: 10px;
   align-items: center;
   height: 140px;
   width: auto;
   background-color: white;
   overflow-y: scroll;
 }

 .probabilities {
   display: flex;
   justify-content: center;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   height: auto;
   width: auto;
 }

 .probabilities h2 {
   padding: 0px;
 }